*{
    margin: 0;
    padding: 0;
}

.banner-box{
    box-sizing: border-box;
    width: 1200px;
    height: 510px;
    margin: 0 auto;
    margin-top: 20px;
}
.banner-box .header{
    overflow: hidden;
}
.banner-box .header .item{
    float: left;
    width: 25%;
    height: 50px;
    text-align: center;
    color: #666666;
    font: 22px/50px "Microsoft YaHei";
    border-radius: 6px;
}

.banner-box .header .checked{
    background-color: #ffcc00;
    font-weight: 700;
}

.banner-box .banner{
    width: 100%;
}
.banner-box .banner img{
    width: 100%;
}